*.nf linguist-language=Nextflow
nextflow.config linguist-language=Nextflow
slurm.config linguist-language=Nextflow
*.nf linguist-detectable=true
Dockerfile linguist-language=Dockerfile
*.ipynb linguist-language=Python
tests/* linguist-vendored
scripts/* linguist-vendored
