params {
  ref_dir = "${baseDir}/../../ref"
  ldsc_dir = ""
  ref_bfile = ""
  outdir = ""
}

if( !params.ldsc_dir ) {
  params.ldsc_dir = "${params.ref_dir}/ldsc/1000G_EUR_Phase3_plink"
}

if( !params.ref_bfile ) {
  params.ref_bfile = "${params.ldsc_dir}/1000G.EUR.QC.ALL"
}

env {
  REF_BFILE = "${params.ref_bfile}"
}

process {
  executor = 'local' // slurm
  cpus = 4
  memory = '16 GB'
  time = '16h'
  errorStrategy = 'terminate'
  maxRetries = 1
}

singularity {
  enabled = true
  autoMounts = true
}
