params {
  // general stuff
  input = null
  pairs = null
  outdir = "results"
  pybin = "python3"
  rbin = "Rscript"

  // qc
  maf_min = 0.01
  info_min = 0.90

  // ldsc
  ldsc_hm3 = "${projectDir}/ref/ldsc/w_hm3.snplist"
  ldsc_ld = "${projectDir}/ref/ldsc/eur_w_ld_chr"
  ldsc_wld = "${projectDir}/ref/ldsc/weights_hm3_no_hla"

  // sumher (LDAK)
  tag_prefix = "eur_humdef"
  ldak = "${projectDir}/ref/SumHer/LDAK/ldak6.1.mac" // assuming this is ran on mac -> change if you´re in another OS 
  refpref = "${projectDir}/ref/ldsc/1000G_EUR_Phase3_plink/1000G.EUR.QC"
  power = -0.25
  thresh = 0.01
  do_tagging = false
}

// process allocations
// LDSC
process {
  withName: 'LDSC' {
    publishDir = [
      path: { "${params.outdir}/ldsc/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// SumHer - tagging
process {
  withName: 'TAGGING' {
    publishDir = [
      path: { "${params.outdir}/sumher/tagging" },
      mode: 'copy'
    ]
  }
}

// SumHer - h2
process {
    withName: 'H2' {
      publishDir = [
        path: { "${params.outdir}/sumher/${meta.id}"},
        mode: 'copy'
      ]
    }
}

// Sumher - rg
process {
    withName: 'RG' {
      publishDir = [
        path: { "${params.outdir}/sumher/rg/${meta.trait1}_${meta.trait2}" },
        mode: 'copy',
        saveAs: { name ->
        name.startsWith('res/') ? name.replaceFirst(/^res\//,'') : name }
      ]
    }
} 


// env configs
profiles {
  local {
    process.executor = 'local'
    docker.enabled = false
    conda.enabled = false
  }

  docker {
    process.executor  = 'local'
    docker.enabled = true
    conda.enabled = false
    process.container = 'neurobridge:1'
  }
}