/*
MAYBE FOR FINEMAP -> http://www.christianbenner.com
*/

/*
nextflow run workflows/neurobridge/main_sumher.nf \
  -profile docker \
  -c conf/local/nextflow.config \
  --input assets/gwas.tsv \
  --pairs assets/ldsc_pairs.tsv \
  --outdir results \
  --do_tagging true \
  --ldak_os ldak6.1.linux \
  -resume

nextflow run workflows/neurobridge/main_sumher.nf \
  -profile docker \
  -c conf/local/nextflow.config \
  --input assets/gwas.tsv \
  --pairs assets/ldsc_pairs.tsv \
  --outdir results \
  --do_tagging true 
  -resume
*/

params {

  // general stuff
  input = null
  pairs = null
  outdir = "results"
  pybin = "python3"
  rbin = "Rscript"
  plink = "plink"

  // qc
  maf_min = 0.01
  info_min = 0.90

  // sumher (LDAK)
  tag_prefix = "eur_humdef"
  ldak_os = "ldak6.1.linux" // keeping this like so as Docker image runs on Linux env
  power = -0.25
  thresh = 0.01
  do_tagging = false

  // hdl-l
  cov_min = 0 // coverage 

  // clumping (PLINK parameters)
  clump_score_col = "conj_fdr" 
  clump_r2 = 0.6
  clump_kb = 1000
  merge_kb = 500
  ld_r2 = 0.1
  ld_kb = 250

  // default params for defining loci
  window = 500000 // in BP
}

// process allocations
// LDSC
process {
  withName: 'LDSC' {
    publishDir = [
      path: { "${params.outdir}/ldsc/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// ------------ ------ ------------ //
// ------------ SumHer ------------ //
// ------------ ------ ------------ //

// SumHer - tagging
process {
  withName: 'TAGGING' {
    publishDir = [
      path: { "${params.outdir}/sumher/tagging" },
      mode: 'copy'
    ]
  }
}

// SumHer - h2
process {
    withName: 'H2' {
      publishDir = [
        path: { "${params.outdir}/sumher/${meta.id}"},
        mode: 'copy'
      ]
    }
}

// Sumher - rg
process {
    withName: 'RG' {
      publishDir = [
        path: { "${params.outdir}/sumher/rg/${meta.trait1}_${meta.trait2}" },
        mode: 'copy',
        saveAs: { name ->
        name.startsWith('res/') ? name.replaceFirst(/^res\//,'') : name }
      ]
    }
} 

// ------------ ------ ------------ //
// ------------ ------ ------------ //
// ------------ ------ ------------ //

// HDL-L
process {
  withName: 'HDL_L' {
    publishDir = [
      path: { "${params.outdir}/hdl_l/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// LAVA
process {
  withName: 'LAVA' {
    publishDir = [
      path: { "${params.outdir}/lava/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// -------------- ------ -------------- //
// -------------- MiXeR --------------- //
// -------------- ------ -------------- //

// do_mixer boolean

// -------------- ------ -------------- //
// -------------- ----- --------------- //
// -------------- ------ -------------- //


// -------------- ------ -------------- //
// ------------- ConjFDR -------------- //
// -------------- ------ -------------- //

process {
  withName: 'CONJFDR_DATA_PREP' {
    publishDir = [
      path: { "${params.outdir}/conjFDR/ready/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }

  withName: 'CONJFDR' {
    publishDir = [
      path: { "${params.outdir}/conjFDR/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}
// -------------- ------ -------------- //
// -------------- ----- --------------- //
// -------------- ------ -------------- //

// ---------- ------ ----------- //
// ------- Clump/define -------- //
// ---------- ------ ----------- //

process {
  withName: 'LD_CLUMP' {
    publishDir = [
      path: { "${params.outdir}/LD_clumping" },
      mode: 'copy'
    ]
  }
}

process {
  withName: 'DEFINE_LOCI' {
    publishDir = [
      path: { "${params.outdir}/defined_loci/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}


// -------------- ------ -------------- //
// -------------- coloc --------------- //
// -------------- ------ -------------- //

process {
  withName: 'GWAS_COLOCALISATION' {
    publishDir = [
      path: { "${params.outdir}/Colocalisation/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// ---------- ------ ----------- //
// ---------  ------ ----------- //
// ---------- ------ ----------- //

// env configs
profiles {
  local {
    process.executor = 'local'
    docker.enabled = false
    conda.enabled = false
  }

  docker {
    process.executor  = 'local'
    docker.enabled = true
    conda.enabled = false
    process.container = 'neurobridge:1'
    process.stageInMode = 'copy'
    params.ldak_os = 'ldak6.1.linux' 
    // docker.userEmulation  = true
  }
}

// ------------ ------ ------------ //
// ----------- VERSIONS ----------- //
// ------------ ------ ------------ //

manifest {
  name = 'nf-core/neurobridge'
  version = '1.0.0'
}
