/*
MAYBE FOR FINEMAP -> http://www.christianbenner.com
*/

/*
nextflow run workflows/neurobridge/main_sumher.nf \
  -profile docker \
  -c conf/local/nextflow.config \
  --input assets/gwas.tsv \
  --pairs assets/ldsc_pairs.tsv \
  --outdir results \
  --do_tagging true \
  --ldak_os ldak6.1.linux \
  -resume

nextflow run workflows/neurobridge/main_sumher.nf \
  -profile docker \
  -c conf/local/nextflow.config \
  --input assets/gwas.tsv \
  --pairs assets/ldsc_pairs.tsv \
  --outdir results \
  --do_tagging true 
  -resume
*/

params {
  // general stuff
  input = null
  pairs = null
  outdir = "results"
  pybin = "python3"
  rbin = "Rscript"

  // qc
  maf_min = 0.01
  info_min = 0.90

  // ldsc
  //ldsc_hm3 = "${projectDir}/ref/ldsc/w_hm3.snplist"
  //ldsc_ld = "${projectDir}/ref/ldsc/eur_w_ld_chr"
  //ldsc_wld = "${projectDir}/ref/ldsc/weights_hm3_no_hla"

  // sumher (LDAK)
  tag_prefix = "eur_humdef"
  ldak_os = "ldak6.1.mac" // change this if on Linux
  //ldak = "${projectDir}/ref/SumHer/LDAK/ldak6.1.mac" // assuming this is ran on mac -> change if you´re in another OS 
  //refpref = "${projectDir}/ref/ldsc/1000G_EUR_Phase3_plink/1000G.EUR.QC"
  power = -0.25
  thresh = 0.01
  do_tagging = false

  // hdl-l
  cov_min = 0 // coverage 
  //ld_path = "${projectDir}/ref/HDL-L_ref/LD.path"
  //bim_path = "${projectDir}/ref/HDL-L_ref/HDL-L_ref/bimfile"
}

// process allocations
// LDSC
process {
  withName: 'LDSC' {
    publishDir = [
      path: { "${params.outdir}/ldsc/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// ------------ ------ ------------ //
// ------------ SumHer ------------ //
// ------------ ------ ------------ //

// SumHer - tagging
process {
  withName: 'TAGGING' {
    publishDir = [
      path: { "${params.outdir}/sumher/tagging" },
      mode: 'copy'
    ]
  }
}

// SumHer - h2
process {
    withName: 'H2' {
      publishDir = [
        path: { "${params.outdir}/sumher/${meta.id}"},
        mode: 'copy'
      ]
    }
}

// Sumher - rg
process {
    withName: 'RG' {
      publishDir = [
        path: { "${params.outdir}/sumher/rg/${meta.trait1}_${meta.trait2}" },
        mode: 'copy',
        saveAs: { name ->
        name.startsWith('res/') ? name.replaceFirst(/^res\//,'') : name }
      ]
    }
} 

// ------------ ------ ------------ //
// ------------ ------ ------------ //
// ------------ ------ ------------ //

// HDL-L
process {
  withName: 'HDL_L' {
    publishDir = [
      path: { "${params.outdir}/hdl_l/${meta.trait1}_${meta.trait2}" },
      mode: 'copy'
    ]
  }
}

// env configs
profiles {
  local {
    process.executor = 'local'
    docker.enabled = false
    conda.enabled = false
  }

  docker {
    process.executor  = 'local'
    docker.enabled = true
    conda.enabled = false
    process.container = 'neurobridge:1'
    process.stageInMode = 'copy'
    params.ldak_os = 'ldak6.1.linux' 
    // docker.userEmulation  = true
  }
}

// ------------ ------ ------------ //
// ----------- VERSIONS ----------- //
// ------------ ------ ------------ //

manifest {
  name = 'nf-core/neurobridge'
  version = '1.0.0'
}
